//- About
section.about(id="about")
	.container
		.row
			.col-lg-12.text-center
				h2 Wellcome to your next home
				p.lead SBR Real Estate is a leading real estate agency in Costa del Sol, Spain.
				p We provide a wide selection of Real Estate properties for sale in the following countries:<br>
					Austria, Belgium, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Iceland, Italy, Latvia, Liechtenstein, Lithuania, Luxembourg, Malta, Netherlands, Norway, Poland, Portugal, Slovakia, Slovenia, Spain, Sweden, Switzerland, Ireland, Cyprus, Bulgaria, Romania, Republic of Croatia, Bulgaria, Russia, United Arab Emirates, Saudi Arabia, Qatar, Bahrain, Israel, Jordan, Oman, Egypt, Lebanon, Turkey. No matter what you are looking for you will find it at SBR.