//-- Footer
footer
	.container
		.row
			.col-lg-10.col-lg-offset-1.text-center
				h4
					strong SBR Real Estae
				p Calle varadero 12<br>29017 Malaga, Spain
				ul.list-unstyled
					<li><i class="fa fa-phone fa-fw"></i> +44 203 286 9965</li>
					<li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@spainbr.com">info@spainbr.com</a>
				br
				ul.list-inline
					li
						a(href="#")
							i.fa.fa-facebook.fa-fw.fa-3x
					li
						a(href="#")
							i.fa.fa-twitter.fa-fw.fa-3x
					li
						a(href="#")
							i.fa.fa-dribbble.fa-fw.fa-3x
				hr.small
				p.text-muted Copyright &copy; SBR Real Estate 2015			