include mixins
include form-mixins
doctype
html( lang="en" )
	head
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( name='description', content='Baking Bootstrap Snippets with Jade' )
		meta( name="author", content="")

		title SBR Real Estate
		//- Bootswatch Theme
		//-bootswatch("sandstone")
		
		//-Custom CSS
		//-link(href="stylesheets/normalize.css")
		
		//-Bootstrap Core CSS
		link(rel='stylesheet prefetch',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		//-link(rel='stylesheet prefetch',href='css/bootstrap.min.css')		

		//-Custom CSS -->
		link(href="css/stylish-portfolio.css",rel="stylesheet")

		//-Custom Fonts
		link(rel='stylesheet prefetch',href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
		//-link(rel='stylesheet prefetch',href='fonts/font-awesome.min.css')

		//-link(rel='stylesheet prefetch',href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext')
		link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic",rel="stylesheet",type="text/css")

		
		//-Custom CSS start page
		link(rel="stylesheet",href="stylesheets/style.css")
		link(rel="stylesheet",href="stylesheets/proplist.css")


		//-HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//-WARNING: Respond.js doesn't work if you view the page via file://
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	body

		//-Navigation -->
		a.btn.btn-dark.btn-lg.toggle(id="menu-toggle",href="#")
			i.fa.fa-bars
		nav(id="sidebar-wrapper")
			ul.sidebar-nav
				a.btn.btn-light.btn-lg.pull-right.toggle(id="menu-close",href="#")
					i.fa.fa-times
				li.sidebar-brand
					a(href="#top",onclick = '$("#menu-close").click();') Start Bootstrap
				li
					a(href="#top",onclick = '$("#menu-close").click();') Home
				li
					a(href="#about",onclick = '$("#menu-close").click();') About
				li
					a(href="#properties",onclick = '$("#menu-close").click();') Properties
				li
					a(href="#contact",onclick = '$("#menu-close").click();') Contact

		block content
	
		include propview
	//-Boostrap and Jquery JS
	script( src='https://maps.googleapis.com/maps/api/js?sensor=false' )
	script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
	script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' )
	//-script( src='js/jquery.js' )
	//-script( src='js/bootstrap.js' )

	//-Custom Theme JavaScript
	script(src='/javascripts/global.js')
	script(src='/javascripts/gmaps.js')
	
		//-Test Google Clusters
	script(src='/js/markerclusterer.js')
	//-script(src="/js/data.json")
	script(type="text/javascript").
		// Properties data array
		var data = [];

	script(type="text/javascript").
		$("#menu-close").click(function(e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#sidebar-wrapper").toggleClass("active");
		});

		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top
						}, 1000);
						return false;
					}
				}
			});
		});

	script(type="text/javascript").
		
		$("#myCarousel").carousel({interval:false});

		$("#myCarousel").on("slid.bs.carousel", function (){
			$("#myModal").html($(this).find(".active img").attr("title"));
		})
		
		$('.carousel-control.left').click(function(){
			$('#myCarousel').carousel('prev');
		});

		$('.carousel-control.right').click(function(){
			$('#myCarousel').carousel('next');
		});

		$(".modal").on("hidden.bs.modal", function(){
			$(".carousel-inner").html("");
			$( ".carousel-indicators" ).html("");
		});

		$('#myModal').on('show.bs.modal', function(e) {
			var list = [];
			var item = [];

			if (!data) return e.preventDefault();	
			var idn = $(e.relatedTarget).data('id');

			var title = data[idn].subtype.uk + " " + data[idn].type.uk + ", " + data[idn].town;
			//var body = '<img src="' + data[idn].images.image[0].url + '" class="img-responsive">'; 
			var footer = "the footer";

			var slideshowProperties = data[idn].images.image;
			var list = $( ".carousel-indicators" );
			var item = $(".carousel-inner");
			var i = 0;
			$.each(slideshowProperties, function( intIndex, objValue ){
				list.append($('<li data-target="#myCarousel" data-slide-to="' +intIndex+ '"</li>' ));
				if (i == 0){
					item.append($('<div class="item active"><img src="' +objValue.url+ '"></div>'));
					}
				else{
					item.append($('<div class="item"><img src="' +objValue.url+ '"></div>'));
					}
				i++;
			});


			var modal = $(this);
			modal.find('#propertyTitle').html(title);
			//modal.find('#propertyBody').html(body);
			modal.find('#propertyFooter').html(footer);

		});

		jQuery(function($){
			$("#propertyClick").click(function(){
			$("#myModal").modal("show");
			return false;
			});
		});
