//-a(href="#myModal", data-toggle="modal", data-target="#myModal", onclick = '$("#myModal").modal("show");') Open modal 1

//- Modal
.modal.fade(id="myModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal", aria-label="Close")
						span(aria-hidden="true") &times;
				h.modal-title(id="modalLabel") 
					#propertyTitle
			.modal-body 
				.carousel.slide(id="myCarousel")
					//-ol.carousel-indicators
					.carousel-inner
					a.carousel-control.left(href="#myCarousel" data-slide="prev")
						i.glyphicon.glyphicon-chevron-left
					a.carousel-control.right(href="#myCarousel" data-slide="next")
						i.glyphicon.glyphicon-chevron-right

			.modal-footer
				//-button.btn.btn-default(type="button", data-dismiss="modal") Close
				//-button.btn.btn-primary(type="button")
				#propertyFooter